.loading-message {
  margin-top: 64px;
  text-align: center;
}

.song-list {
  position: relative;
  height: 100%;

  .song-row {
    user-select: none;

    &.selected {
      background-color: #dee2e6;
    }

    .rating-col .stars {
      font-size: 12px;
    }
  }
}
