$headerHeight: 64px;
$playlistsWidth: 200px;

.app {
  position: relative;
  height: 100%;
}

.header-container {
  position: absolute;
  top: 0;
  width: 100%;
  height: $headerHeight;
}

.playlists-container {
  position: absolute;
  top: $headerHeight;
  bottom: 0;
  left: 0;
  width: $playlistsWidth;
}

.song-list-container {
  position: absolute;
  top: $headerHeight;
  bottom: 0;
  left: $playlistsWidth;
  right: 0;
}
