$headerHeight: 64px;
$footerHeight: 38px;

.app {
  position: relative;
  height: 100%;
}

.header-container {
  position: absolute;
  top: 0;
  width: 100%;
  height: $headerHeight;
}

.song-list-container {
  position: absolute;
  top: $headerHeight;
  bottom: $footerHeight;
  width: 100%;
}

.footer-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $footerHeight;
}

.loading-message {
  margin-top: 64px;
  text-align: center;
}
