.filters {
  height: 100%;
  display: inline-block;
  border-right: 2px solid #dee2e6;

  .search-wrapper {
    margin: 6px;

    .search-input {
      width: 100%;
      padding: 0 4px;
    }
  }

  .playlist {
    padding: 4px 10px;
    user-select: none;

    &:hover {
      background-color: #e5e5ff;
      cursor: pointer;
    }

    &.selected {
      color: #6565ff;

      .fa-caret-right {
        padding-left: 5px;
      }
    }

    .playlist-name {
      padding-left: 5px;
    }
  }
}
