.header {
  > .controls {
    height: 64px;
    display: flex;
    align-items: center;
    padding: 3px;

    .buttonControls {
      flex-shrink: 0;

      i {
        padding: 8px;
      }
    }

    .songTitle {
      padding: 0 12px;
      flex-grow: 1;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .position-text {
      flex-shrink: 0;
      padding-right: 15px;
    }

    .position-slider {
      padding-right: 15px;
      flex-basis: 30%;
      flex-grow: 0;
      flex-shrink: 0;

      input {
        width: 100%;
      }
    }

    .volume-controls {
      padding-right: 9px;
      flex-shrink: 0;

      button {
        border: 0;
        background: none;
        box-shadow: none;
        border-radius: 0;

        i {
          padding: 8px;
        }
      }
    }
  }

  > audio.audio-controls {
    width: 100%;
  }
}
