.header {
  > .controls {
    height: 64px;
    display: flex;
    align-items: center;

    .buttonControls {
      padding: 3px;

      i {
        padding: 8px;
      }
    }

    .songTitle {
      padding: 3px;
    }
  }

  > audio.audio-controls {
    width: 100%;
  }
}
