@import "./App.scss";
@import "./view/Header.scss";
@import "./view/Filters.scss";
@import "./view/PlaylistFilter.scss";
@import "./view/SongList.scss";
@import "./view/Footer.scss";
@import "./view/UpcomingSongs.scss";

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
