table.song-list {
  table-layout: fixed;
  width: 100%;

  th {
    text-align: left;
  }

  tr {
    margin-bottom: 4px;

    td {
      overflow: hidden;
      text-overflow: ellipsis;

      &:first-child {
        padding-right: 1rem;
      }
    }
  }

  th, td {
    &:nth-child(1) {
      width: 45px;
    }

    &:nth-child(3) {
      width: 180px;
    }

    &:nth-child(6) {
      width: 100px;
    }

    &:nth-child(7) {
      width: 100px;
    }
  }

  .stars {
    font-size: 12px;
  }
}

.loading-message {
  margin-top: 64px;
  text-align: center;
}
