$tableHeaderHeight: 51px;
$scrollBarWidth: 15px;

.song-list {
  position: relative;
  height: 100%;

  > *:nth-child(1) {
    position: absolute;
    width: calc(100% - #{$scrollBarWidth});
    right: $scrollBarWidth;
    top: 0;
    height: $tableHeaderHeight;
    margin-bottom: 0;
  }

  > *:nth-child(2) {
    position: absolute;
    width: 100%;
    top: $tableHeaderHeight;
    bottom: 0;
    overflow-y: scroll;
  }

  table {
    table-layout: fixed;
    width: 100%;

    th {
      text-align: left;
    }

    tr {
      margin-bottom: 4px;

      td {
        overflow: hidden;
        text-overflow: ellipsis;

        &:first-child {
          padding-right: 1rem;
        }
      }
    }

    th, td {
      padding: 7px;

      &:nth-child(1) {
        width: 45px;
      }

      &:nth-child(3) {
        width: 180px;
      }

      &:nth-child(6) {
        width: 100px;
      }

      &:nth-child(7) {
        width: 100px;
      }
    }
    
    .selected-sort {
      color: #6565ff;
    }

    .pause-button, .play-button {
      font-size: 12px;
    }

    .stars {
      font-size: 12px;
    }
  }
}

.loading-message {
  margin-top: 64px;
  text-align: center;
}
